@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  body{
   font-family: Georgia, 'Times New Roman', Times, serif;
  /* Remove the transformation causing the tilt */
    background-color: #ddd6fe;

  }
  input:focus, textarea:focus {
    
    transform: none;
      transition: none;
    outline: none; 
  }
}